body {
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h3 {
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  margin: 0 0 8px 0;
}
a {
	font-size: 18px;
}
hr {
  margin-top: 15px;
  margin-bottom: 16px;
}

#contentPage {
  padding-top:73px;
}

.navbar, .navbar-default {
  background-image: none;
  background-color: #FFFFFF;
  box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
  border-radius: 0;
  height: 73px;
}

.navbar-default .navbar-brand {
	padding-top: 28px;
	color: #D0011B;
	font-size: 24px;
}

.nav-pills>li>a {
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #4A4A4A;
	height: 73px;
	padding-top: 28px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #D0011B;
}
.navbar-default .navbar-nav>.active>a {
	background-image: none;
	box-shadow: none;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #D0011B;
	background-color: unset;
	border-top: 4px solid #D0011B;
	padding-top: 24px;
}

#footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
}

#schedulePage {
	height: 455px;
	width: 399px;
	margin: 27px auto;
  padding: 33px 27px 27px 27px;
  background: #FFFFFF;
	box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
	border-radius: 2px;
}
.dutyText {
  font-size: 12px;
  color: rgba(0,0,0,0.87);
  letter-spacing: 0;
  display: inline-block;
}
.form-control {
  width: 93px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 0;
  border-bottom-left-radius: 0;
}
textarea.form-control {
  width: 345px;
  height: 95px;
  margin: 0;
}
