@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/pt-sans/PTS55F.ttf);
}
@font-face {
  font-family: TrebuchetMS;
  src: url(../fonts/TrebuchetMS.ttf);
}
body {
  font-family: PTSans-Regular;
  background: url(../assets/bg.png)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  line-height: initial;
  color: #000;
}
a {
	font-size: 18px;
}
hr {
  margin: 0;
  border-top: 1px solid #000000;
  opacity: 0.2;
}
h3 {
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 100;
}
img {
  vertical-align: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label {
  margin: 0;
  font-weight: 100;
}
textarea {
  resize: none;
  border-radius: 2px;
  border: 1px solid #9B9B9B;
  font-family: PTSans-Regular;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  padding: 9px 16px;
}
input {
  border-radius: 2px;
  border: 1px solid #9B9B9B;
  font-family: PTSans-Regular;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}
input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
  border: 1px solid #D0011B;
  box-shadow: 0 0 0 2px rgba(208,1,26,0.15);
}
button[disabled] {
  opacity: 0.2;
}
/* ------------------------------------------------------- */
/* Common classes ---------------------------------------- */
.modal {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background: rgba(0,0,0,0.6);
}
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.col {
  margin-bottom: 15px;
}
/* ------------------------------------------------------- */
/* Subpages ---------------------------------------------- */
#content-page {
  padding-top:110px;
}
#drivers-page {
  margin: 0 150px 100px 150px;
}
#schedule-page {
  text-align: center;
}
#schedule-form {
  display: inline-block;
  width: 568px;
  margin: 0 auto;
  padding: 50px 40px 40px 40px;
  background: #FFFFFF;
  box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
  border-radius: 2px;
  text-align: left;
}
/* ------------------------------------------------------- */
/* Custom Bootstrap navbar ------------------------------- */
.navbar, .navbar-default {
  background-image: none;
  background-color: #FFFFFF;
  box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
  border-radius: 0;
  height: 73px;
}
.navbar-default .navbar-brand {
	margin-top: 17px;
  padding: 0;
}
.nav-pills>li>a {
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #4A4A4A;
	height: 73px;
	padding-top: 28px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #D0011B;
}
.navbar-default .navbar-nav>.active>a {
	background-image: none;
	box-shadow: none;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #D0011B;
	background-color: unset;
	border-top: 4px solid #D0011B;
	padding-top: 24px;
}
/* ------------------------------------------------------- */
/* Driver panel ------------------------------------------ */
.driver-panel {
  width: 253px;
  height: 80px;
  margin: 10px 10px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
}
.driver-status {
  border: 1px solid #D0011B;
  color: #FFFFFF;
  background: #D0011B;
  font-family: PTSans-Regular;
  font-size: 8px;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px 3px 8px;
  line-height: initial;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.driver-panel .left {
  width: 80px;
  height: 80px;
  cursor: pointer;
  float: left;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: relative;
}
.driver-panel .right {
  width: 173px;
  height: 80px;
  float: right;
  background: rgba(0,0,0,0.04);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 29px 15px 29px 15px;
}
.driver-panel .number {
  font-family: PTSans-Regular;
  font-size: 24px;
  color: #D0011B;
  letter-spacing: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------------------------------------------------------- */
/* driver subpage footer --------------------------------- */
#footer {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0 -19px 38px 0 rgba(0,0,0,0.30);
  justify-content: center;
}
div#footer label {
  margin-left: 6px;
  margin-right: 6px;
}
/* ------------------------------------------------------- */
/* Driver details ---------------------------------------- */
.driver-details {
  position: absolute;
  left: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 513px;
  padding: 40px;
  padding-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
  border-radius: 2px;
  z-index: 100;
}
.text-input {
  width: 100%;
  margin-bottom: 12px;
  padding: 7px 16px 7px;
  height: 36px;
}
form.driver-details textarea {
  width: 220px;
  height: 108px;
}
/* ------------------------------------------------------- */
/* Popup ------------------------------------------------- */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 444px;
  margin: -130px 0 0 -222px;
  padding: 40px 60px;
  background-color: #FAFAFA;
  z-index: 200;
  overflow-y: scroll;
  /*background-image: linear-gradient(-180deg, #FAFAFA 0%, #F1F1F1 100%);*/
  box-shadow: 0 19px 38px 0 rgba(0,0,0,0.30);
  border-radius: 2px;
}
.popup p,
.popup h3 {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}
.popup p {
  font-size: 16px;
}
.popup div {
  margin-top: 30px;
}
/* ------------------------------------------------------- */
/* Custom switch component ------------------------------- */
.switch {
  width: 34px;
  height: 14px;
  border: none;
  background: #9B9B9B;
  margin-top: 4px;
  margin-bottom: 4px;
}
.switch.on {
  background: #D0011B;
}
.switch-toggle {
  width: 20px;
  height: 20px;
  top: -3px;
  left: -4px;
  border: none;
  border-radius: 20px;
  background: #F1F1F1;
  box-shadow: 0 0 1px 0
  rgba(0,0,0,0.12),0 1px 1px 0
  rgba(0,0,0,0.24);
}
.switch.on .switch-toggle {
  left: 18px;
}
/* ------------------------------------------------------- */
/* Custom button ----------------------------------------- */
.regular-btn {
  text-shadow: none;
  background: #D0011B;
  border: 1px solid #AB0014;
  border-radius: 2px;
  outline: 0;
  font-family: TrebuchetMS;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 6px;
  letter-spacing: 0.16px;
  padding: 7px 12px 4px 12px;
  text-transform: uppercase;
  min-width: 77px;
}
.regular-btn:focus {
  border: 1px solid #AB0014;
  box-shadow: none;
}
.icon-btn {
  background: transparent;
  border: none;
  padding: 0;
}
.icon-btn:focus {
  outline: none;
}
.round-btn {
  width: 56px;
  height: 56px;
  position: fixed;
  right: 94px;
  margin-top: 22px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
  border-radius: 56px;
  border: none;
}
#schedule-page .round-btn {
  right: initial;
  vertical-align: top;
  margin: 0 20px;
}
.round-btn:focus {
  outline: none;
}
.round-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------------------------------------------------------- */
/* Custom checkboxes section ----------------------------- */
.toggle-panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* This is what we will style to look like
   checkboxes/radio buttons. */
.control__indicator {
  font-family: PTSans-Regular;
  display: inline-block;
  opacity: 0.2;
  border: 1px solid #4A4A4A;
  border-radius: 4px;
  padding: 4px 8px 3px 8px;
  font-size: 12px;
  line-height: initial;text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Checked state */
.control input:checked ~ .control__indicator {
  border: 1px solid #D0011B;
  color: #D0011B;
  opacity: 1;
}
.control {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.control_indicator_img {
  opacity: 0.2;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Checked state of image checkboxes */
.control input:checked ~ .control_indicator_img {
  opacity: 1;
}
/* ------------------------------------------------------- */
/* Selectors on schedule page ---------------------------- */
form#schedule-page hr {
  margin-bottom: 24.7px;
}
.selector {
  margin-bottom: 23px;
}
div label{
  font-size: 16px;
  color: rgba(0,0,0,0.87);
  letter-spacing: 0;
  text-transform: uppercase;
}
.select.inline {
  display: inline-block;
}
.select {
  position: relative;
  display: inline-block;
}
.select select {
  font-size: 15px;
  display: inline-block;
  width: 100%;
  height: 36px;
  padding: 7px 36px 7px 16px;
  cursor: pointer;
  color: #000000;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 1px solid #9B9B9B;
  border-radius: 2px;
}
.select select:focus {
  border: 1px solid #D0011B;
}
.select select::-ms-expand {
  display: none;
}
.select-arrow {
  position: absolute;
  top: 9px;
  right: 12px;
  pointer-events: none;
}
select:invalid {
  color: #B6B6B6;
}
/* ------------------------------------------------------- */
::-webkit-input-placeholder {
  color: #B6B6B6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #B6B6B6;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #B6B6B6;
}
:-ms-input-placeholder {
  color: #B6B6B6;
}